/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* Colors */
:root {
  --primary-mid-blue-400: #2041ca;
  --secondary-dark-blue: #23276c;
  --neutral-100: #f5f5f5;
  --neutral-500: #666666;
  --neutral-600: #333333;
  --red: #c30000;
  --pink: #ed1a60;
}

/* Variables */
:root {
  --font-title-font: "Inter", sans-serif;
  --border-radius: 12px;
}

/* General styles */
.wFormWebPage {
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  scrollbar-color: transparent; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.wFormWebPage::-webkit-scrollbar {
  display: none;
}

/* Form container */
.wFormContainer {
  font-family: var(--font-title-font);
}

/* Input styles */
.wFormContainer .wForm .inputWrapper {
  width: 100%;
}

.wFormContainer .wForm .inputWrapper input[type="text"],
.wFormContainer .wForm .inputWrapper input[type="password"],
.wFormContainer .wForm .inputWrapper select,
.wFormContainer .wForm .inputWrapper textarea {
  color: var(--neutral-600);
  border: 1px solid var(--neutral-500);
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.5em;
  width: 100%;
  background-color: white;
  border-radius: var(--border-radius);
}

/* Error styles */
.wFormContainer .wForm .inputWrapper .oneField.errFld input[type="text"],
.wFormContainer .wForm .inputWrapper .oneField.errFld input[type="password"],
.wFormContainer .wForm .inputWrapper .oneField.errFld textarea,
.wFormContainer .wForm .inputWrapper .oneField.errFld select {
  border-color: var(--pink);
}

/* Actions */
.wFormContainer .wForm .actions .primaryAction {
  background-color: var(--primary-mid-blue-400);
  color: white;
  border: 0;
  border-radius: var(--border-radius);
  padding: 16px;
  line-height: 16px;
  outline: 0;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  font-weight: 600;
}

.wFormContainer .wForm .actions .primaryAction:disabled {
  cursor: not-allowed;
  background-color: rgba(var(--neutral-600), 0.2);
  color: rgba(255, 255, 255, 0.9);
}

.wFormContainer .wForm .actions .primaryAction:hover {
  background-color: var(--secondary-dark-blue);
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .wFormContainer .wForm .inputWrapper select[multiple] {
    width: auto;
    -webkit-appearance: none;
    height: 30px;
  }

  .wFormContainer .wForm .actions .primaryAction {
    min-width: 150px;
    font-size: 16px;
  }
}

/* Box sizing for :before and :after pseudo-elements */
:before,
:after,
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Default input styles */
input {
  /* ... Your input styles here ... */
}

/* Additional input styles */
input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}

/* General button, html, input, select, textarea styles */
button, html, input, select, textarea {
  font-family: sans-serif;
  color: #222;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* Specific button and input styles */
button,
input {
  line-height: normal;
}

/* Resetting certain input properties */
input {
  line-height: normal;
  border-radius: 0;
}

/* Inheriting font and line-height for form elements */
input, button, select, textarea,
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font: inherit;
  margin: 0;
}

/* Resetting checkbox and radio button styles */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Specific styles for checkbox and radio inputs */
input[type=radio],
input[type=checkbox] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

/* Custom styling for form radio lists */
.wFormContainer .wForm [role="radiogroup"] > label {
    margin-bottom: 24px;
}

.wFormContainer .wForm input[type=checkbox],
.wFormContainer .wForm input[type=radio] {
  margin-bottom: 0.75em;
  margin-right: 0.5em;
  float: left;
}

/* Styling for custom radio buttons in radio lists */
.wFormContainer .wForm input[type=radio] {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  outline: 0;
  width: 24px;
  height: 24px;
  background-color: #f5f5f5;
  border: 1px solid #666666;
  border-radius: 50%;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Styling for checked custom radio buttons in radio lists */
.wFormContainer .wForm input[type=radio]:checked {
  background-color: #2041ca;
  border-color: #2041ca;
}

/* Custom radio button styles */
.wFormContainer .wForm input[type=radio]:checked:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px;
  border-radius: 50%;
  background-color: #ffffff;
}

.wFormContainer .wForm .choices label {
    position: static;
    display: inline-block;
    font-size: 1rem;
    line-height: inherit;
    text-decoration: inherit !important;
    padding-left: 40px;
}

.wFormContainer .wForm .choices .oneChoice:not(:last-child) label {
    margin-bottom: 24px;
}

/* Placeholder and Input styles */
.wFormContainer .wForm .oneField {
  position: relative;
  margin-bottom: 20px;
}

.wFormContainer .wForm .oneField .label,
.wFormContainer .wForm .reqMark:after {
  font-size: 16px;
  color: var(--secondary-dark-blue);
}

.wFormContainer .wForm .oneField .inputWrapper select,
.wFormContainer .wForm .oneField .inputWrapper textarea,
.wFormContainer .wForm .oneField .inputWrapper input[type="text"] {
  font-size: 1rem;
  line-height: 1.5em;
  background: white;
  color: var(--secondary-dark-blue);
  border: 1px solid var(--neutral-500);
  border-radius: var(--border-radius);
  padding: 12px;
  outline: 0;
  width: 100%;
  max-width: 100%;
  height: 56px;
}

.wFormContainer .wForm .oneField .inputWrapper textarea {
  height: 160px;
}

.wFormContainer .wForm .oneField .inputWrapper select:focus,
.wFormContainer .wForm .oneField .inputWrapper textarea:focus,
.wFormContainer .wForm .oneField .inputWrapper input[type="text"]:focus {
  border-color: var(--primary-mid-blue-400);
  border-width: 2px;
}

.wFormContainer .wForm .oneField .inputWrapper select:hover,
.wFormContainer .wForm .oneField .inputWrapper textarea:hover,
.wFormContainer .wForm .oneField .inputWrapper input[type="text"]:hover {
  background: var(--neutral-100);

.wFormContainer .wForm .hintsBelow .field-hint .hint, 
.wFormContainer .wForm .hintsBelow .field-hint-inactive .hint {
    font-family: inherit;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 8px;
    opacity: 1;
}

.wForm .inline div.oneField {
  width: calc(50% - 6px);
}
