/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* Colors */
:root {
  --primary-mid-blue-400: #2041ca;
  --secondary-dark-blue: #23276c;
  --neutral-100: #f5f5f5;
  --neutral-500: #666666;
  --neutral-600: #333333;
  --red: #c30000;
  --pink: #ed1a60;
}

/* Variables */
:root {
  --font-title-font: "Inter", sans-serif;
  --border-radius: 12px;
}

/* General styles */
.wFormWebPage {
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  scrollbar-color: transparent; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.wFormWebPage::-webkit-scrollbar {
  display: none;
}

/* Form container */
.wFormContainer {
  font-family: var(--font-title-font);
}

/* Input styles */
.wFormContainer .wForm .inputWrapper {
  width: 100%;
}

.wFormContainer .wForm .inputWrapper input[type="text"],
.wFormContainer .wForm .inputWrapper input[type="password"],
.wFormContainer .wForm .inputWrapper select,
.wFormContainer .wForm .inputWrapper textarea {
  color: var(--neutral-600);
  border: 1px solid var(--neutral-500);
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.5em;
  width: 100%;
  background-color: white;
  border-radius: var(--border-radius);
}

/* Error styles */
.wFormContainer .wForm .inputWrapper .oneField.errFld input[type="text"],
.wFormContainer .wForm .inputWrapper .oneField.errFld input[type="password"],
.wFormContainer .wForm .inputWrapper .oneField.errFld textarea,
.wFormContainer .wForm .inputWrapper .oneField.errFld select {
  border-color: var(--pink);
}

/* Actions */
.wFormContainer .wForm .actions .primaryAction {
  background-color: var(--primary-mid-blue-400);
  color: white;
  border: 0;
  border-radius: var(--border-radius);
  padding: 16px;
  line-height: 16px;
  outline: 0;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  font-weight: 600;
}

.wFormContainer .wForm .actions .primaryAction:disabled {
  cursor: not-allowed;
  background-color: rgba(var(--neutral-600), 0.2);
  color: rgba(255, 255, 255, 0.9);
}

.wFormContainer .wForm .actions .primaryAction:hover {
  background-color: var(--secondary-dark-blue);
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .wFormContainer .wForm .inputWrapper select[multiple] {
    width: auto;
    -webkit-appearance: none;
    height: 30px;
  }

  .wFormContainer .wForm .actions .primaryAction {
    min-width: 150px;
    font-size: 16px;
  }
}

/* Placeholder and Input styles */
.wFormContainer .wForm .oneField {
  position: relative;
  margin-bottom: 20px;
}

.wFormContainer .wForm .oneField .label,
.wFormContainer .wForm .reqMark:after {
  font-size: 16px;
  color: var(--secondary-dark-blue);
}

.wFormContainer .wForm .oneField .inputWrapper textarea,
.wFormContainer .wForm .oneField .inputWrapper input[type="text"] {
  font-size: 1rem;
  line-height: 1.5em;
  background: white;
  color: var(--secondary-dark-blue);
  border: 1px solid var(--neutral-500);
  border-radius: var(--border-radius);
  padding: 12px;
  outline: 0;
  width: 100%;
  max-width: 100%;
  height: 56px;
}

.wFormContainer .wForm .oneField .inputWrapper textarea {
  height: 160px;
}

.wFormContainer .wForm .oneField .inputWrapper textarea:focus,
.wFormContainer .wForm .oneField .inputWrapper input[type="text"]:focus {
  border-color: var(--primary-mid-blue-400);
  border-width: 2px;
}

.wFormContainer .wForm .oneField .inputWrapper textarea:hover,
.wFormContainer .wForm .oneField .inputWrapper input[type="text"]:hover {
  background: var(--neutral-100);
}
