@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

$primary-mid-blue-400: #2041ca;

$secondary-dark-blue: #23276c;

$neutral-100: #f5f5f5;
$neutral-500: #666666;
$neutral-600: #333333;

$red: #c30000;
$pink: #ed1a60;

$font-title-font: "Inter", sans-serif;

$border-radius: 12px;

.wFormWebPage {
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  scrollbar-color: transparent; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
  .footer-new {
    display: none !important;
  }
}

.wFormWebPage::-webkit-scrollbar {
  width: 0; /* For Chrome, Safari, and Opera */
  display: none; /* Safari and Chrome */
  background: transparent; /* Optional: just make scrollbar invisible */
  height: 0;
}

.wFormContainer {
  font-family: $font-title-font;
  .wForm {
    .inputWrapper {
      width: 100%;
      input[type="text"],
      input[type="password"],
      select,
      textarea {
        color: $neutral-600;
        border: 1px solid $neutral-500;
        box-sizing: border-box;
        font-size: 1em;
        line-height: 1.5em;
        width: 100%;
        background-color: white;
        border-radius: $border-radius;
      }
      input[type="text"],
      input[type="password"],
      input[type="file"],
      select:not([multiple]) {
        height: 48px;
        padding: 0 0.5rem;
        outline: 0;
      }
      select[multiple] {
        width: auto;
        /* Reset default styles */
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: "";
        /* Style the custom dropdown */
        option {
          &:hover {
            background-color: $secondary-dark-blue;
          }
        }
      }
      textarea {
        height: 160px;
        padding: 0.5rem;
      }
      select option {
        padding: 0.25em 0.5rem;
      }
      .hint {
        font-size: 12px;
        line-height: 16px;
        color: $neutral-600;
      }
      .hints-below {
        margin-top: 8px;
      }
      .lengthIndicator {
        display: none !important;
      }
    }
    /*ERRORS*/
    .oneField.errFld {
      .inputWrapper {
        input[type="text"],
        input[type="password"],
        textarea,
        select {
          border-color: $pink;
        }
      }
      div.errMsg {
        margin-top: 8px;
        color: $pink;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1rem;
      }
      .errorMessage {
        color: $pink;
      }
      a.errMsg,
      .errMsg {
        color: $pink;
      }
    }
    .actions {
      .primaryAction {
        background-color: $primary-mid-blue-400;
        color: white;
        border: 0;
        border-radius: $border-radius;
        padding: 16px;
        line-height: 16px;
        outline: 0;
        transition: color 0.2s, background-color 0.2s, border-color 0.2s;
        font-weight: 600;
        &:disabled {
          cursor: not-allowed;
          background-color: rgba($neutral-600, 0.2);
          color: rgba(white, 0.9);
        }
      }
    }
  }
  a {
    text-decoration: none;
  }
  .label {
    font-weight: 400;
    font-family: $font-title-font;
    color: black;
    font-size: 14px;
    line-height: 1.5rem;
    &::after {
      color: black;
    }
  }
  .htmlSection {
    margin: 1em auto;
  }
}

.saveAndResume input[type="text"]:focus,
.saveAndResume input[type="password"]:focus,
input[type="text"].validate-email:focus,
input[type="password"]#password:focus {
  background-color: white !important;
  border: 2px solid $primary-mid-blue-400;
}

.wFormContainer .wForm .inputWrapper textarea:focus,
.wFormContainer .wForm .inputWrapper textarea.required:focus,
.wFormContainer .wForm .inputWrapper input[type="text"]:focus,
.wFormContainer .wForm .inputWrapper input[type="text"].required:focus,
.wFormContainer .wForm .inputWrapper input[type="password"]:focus,
.wFormContainer .wForm .inputWrapper input[type="password"].required:focus,
.wFormContainer .wForm .inputWrapper select:focus,
.wFormContainer .wForm .inputWrapper select.required:focus {
  outline-style: none;
  background-color: white !important;
  border: 2px solid $primary-mid-blue-400;
  color: $neutral-500;
}

.saveAndResume input[type="text"]:hover,
.saveAndResume input[type="password"]:hover,
input[type="text"].validate-email:hover,
input[type="password"]#password:hover {
  background-color: $neutral-100;
}

.wFormContainer .wForm .inputWrapper textarea:hover,
.wFormContainer .wForm .inputWrapper textarea.required:hover,
.wFormContainer .wForm .inputWrapper input[type="text"]:hover,
.wFormContainer .wForm .inputWrapper input[type="text"].required:hover,
.wFormContainer .wForm .inputWrapper input[type="password"]:hover,
.wFormContainer .wForm .inputWrapper input[type="password"].required:hover,
.wFormContainer .wForm .inputWrapper select:hover,
.wFormContainer .wForm .inputWrapper select.required:hover,
.wFormContainer .wForm .inputWrapper input.required:hover,
.wFormContainer .wForm .inputWrapper input:hover {
  background-color: $neutral-100;
}

.wFormContainer .actions .primaryAction:hover {
  background-color: $secondary-dark-blue;
}

@media only screen and (max-width: 600px) {
  .wFormContainer {
    .wForm {
      .inputWrapper {
        select[multiple] {
          width: auto;
          -webkit-appearance: none;
          height: 30px;
        }
      }
      .actions .primaryAction {
        min-width: 150px;
        font-size: 16px;
      }
    }
  }
}

/* Apply colors to progress bar */ 
$color-progress-bar-text-color: #b71717;
$color-progress-bar-color: #000000; 
.wfProgressBar {
    color: $color-progress-bar-text-color;
    background-color: $color-progress-bar-color; 
    /*CUSTOM*/
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 8px;
    transition: width 0.8s;
    background-color: #2041CA;
    color: transparent;
}

.wfProgressBarWrapper {
    background-color: rgba(0,0,0,.05);
    margin: 2rem 0!important;
    width: 100%;
    /*CUSTOM*/
    position: relative;
    max-width: 376px;
    width: 100%;
    height: 8px;
    margin-bottom: 4px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #F5F5F5;
}

.wfProgressBarWrapper + .font-s {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.wForm form .vertical>.choiceGroup>.oneChoice, .wForm form .vertical>.oneChoice {
    display: block;
    margin: 0 0 4px;
    /*CUSTOM*/
    position: relative;
}

.wForm form .oneChoice input {
    box-sizing: border-box;
    /*CUSTOM*/
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    outline: 0;
    width: 24px;
    height: 24px;
    background-color: #F5F5F5;
    border: 1px solid #666666;
    border-radius: 50%;
    transition: background-color 0.3s, border-color 0.3s;
    top: 13px;
    left: 16px;
}

.wForm .labelsAbove .preField, .wForm .labelsBelow .preField {
    padding-bottom: 4px;
    /*CUSTOM*/
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #23276C;
    margin-bottom: 1rem;
    margin-top: 8px;
}

@media (min-width: 1200px){
  .wForm .labelsAbove .preField, .wForm .labelsBelow .preField {
      /*CUSTOM*/      
      font-size: 1.5rem;
      line-height: 2rem;
  }
}

.wForm .reqMark:after {
    content: "";
}

.wForm form .oneChoice .label {
    display: inline-block;
    vertical-align: text-top;
    white-space: normal;
    /*CUSTOM*/
    display: block !important;
    max-width: 376px;
    padding: 12px 16px 12px 56px;
    margin-bottom: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    text-decoration: inherit !important;
    font-weight: 600;
    background-color: #fff;
}

.wForm form .oneChoice .label:hover {
    color: #23276C;
    border-color: #A6B3EA;
    background-color: #E9ECFA;
}

.wForm form .oneChoice input[type=radio]:checked {
    background-color: #2041CA;
    border-color: #2041CA;
}

.wForm form .oneChoice input[type=radio]:checked:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px;
    border-radius: 50%;
    background-color: #ffffff;
}

.wForm form .oneChoice input[type=radio]:checked + .label {
    border-color: #99C6F9;
    background-color: #E6F1FE;
}

.wForm .wfPageNextButton,
.wForm .wfPagePreviousButton {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    border-radius: 12px;
    padding: 16px;
    font: 16px/1 "InterSemiBold", sans-serif;
    text-decoration: none;
    outline: none;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    opacity: 1;
    background-color: #fff;
    color: #23276C;
    border: 1px solid #23276C;
    margin-right: 8px;
    cursor: pointer;
}

.wForm .wfPageNextButton {
    background-color: #2041CA;
    color: #fff;
}

.wForm .wfPagePreviousButton:hover {
    background-color: #000747;
    color: #fff;
}

.wForm .wfPageNextButton:hover, .wForm .wfPageNextButton:focus {
    background-color: #000747;
    color: #fff;
}

.wForm .wfTabNav {
    display: none;
}

.wFormContainer .wForm .actions .primaryAction {
    display: none;
}
